<% layout("/Layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Create a new Heading</h3>

    <form method="post" action="/listing">

        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input name="title" placeholder="Enter your title" type="text" class="form-control">
        </div>
       
        <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="Enter image URL/Link"  type="text" class="form-control"></textarea>
        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Image</label>
            <input name="image" placeholder="Enter image link/URL" type="text" class="form-control">
        </div>
        
        <div class="mb-2">
            <label for="price" class="form-label">Price</label>
            <input name="price" placeholder="Enter your price" type="number" class="form-control">
        </div>
        <div class="mb-2">
            <label for="country" class="form-label"></label>
            <input name="country" placeholder="Enter your country" type="text" class="form-control">
        </div>
       <br>
       <br>
        <button type="submit" class="btn btn-dark add-btn">Submit</button>
    </form>
    </div>
   
   </div>
   <br>
</body>
